.active.error {
  opacity: 1 !important;
  visibility: visible !important;
}

.error {
  visibility: hidden;
  opacity: 0;
}

.disable {
  visibility: hidden;
  opacity: 0;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.form-image {
  background: #eee;
}
#blah {
  width: 100%;
}
