li
    list-style: none 

.main-menu__ul
    display: flex
    flex-direction: row
    justify-content: space-around
    margin-top: 10px 
    
    li
        color: white

.main-screen
    background-image: url('../img/sprite.png')
    background-size: 100% 100% 
<<<<<<< HEAD
    height: 980px
    background: #111
=======
    height: 800px
    background-color: #111
>>>>>>> b2ea11530458a4bd49c6f6b4d73afa8b072cbaff

    .content-timer
        margin-top: 240px
        color: white

.content-timer__timer
    display: flex


.content-timer__time
    background: #121212
    width: 102px
    height: 112px
    margin-right: 20px
    padding: 20 30 30 20

    font-size: 36px;
    line-height: 140%;
    text-align: center

.content-timer__unity 
    font-size: 16px;
    opacity: 0.4;

.last-line
    height: 130px 
    background: #121212 

.header
    padding-top: 30px

.button-autorization
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    color: white
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    cursor: pointer 
    border-radius: 25px 
    
.last-line

    .text
        opacity: 0.4
    
    span
        color: white


