doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Новый документ
        link(rel="stylesheet", href="css/style_main.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js")
    body 
        .main-screen.container-fluid
            .header.row 
                .logo.push-md-1.col-md-1
                    img(
                        src="src/img/logo.svg", 
                        alt="")
                .main-menu.col-md-6 
                    ul.main-menu__ul
                        li.main-menu__li Пункт 1
                        li.main-menu__li Пункт 2
                        li.main-menu__li Пункт 3
                        li.main-menu__li Пункт 4
                        li.main-menu__li Пункт 5
                .col-md-2
                .button-autorization.col-md-2.text-right
                    span Зайти в кабинет
            .content-timer.container
                .content-timer__header
                    h1 Первый курс по компьютерной сборке 
                .content-timer__timer
                    .content-timer__time
                        .content-timer__number 8
                        .content-timer__unity 
                            span дней
                    .content-timer__time
                        .content-timer__number 8
                        .content-timer__unity часов
                    .content-timer__time
                        .content-timer__number 8
                        .content-timer__unity минут
                    .content-timer__time
                        .content-timer__number 8
                        .content-timer__unity секунд
        .last-line
            .container
                .row
                    .last-line__button.col-md-2
                        .button-autorization Заказать курс 
                    .last-line__table.col-md-4
                        .row
                            .col-md-8 
                                span.text Учеников всего:
                            .col-md-2 
                                span 200
                        .row
                            .col-md-8 
                                span.text Успешно закончили курс:
                            .col-md-2 
                                span 300
                    .last-line__range.col-md-6
                        .row 
                            span.text Заработано учениками: 
                        .row
                            progress(value="26", max="100").last-line__progress
                        .row
                
            